<div class=" w-full flex items-center " style="justify-content: space-between" >
 <div class="flex flex-col">
  <h5 class="text-primary fst-italic">
    Welcome, <%= current_user.name %> 😊
  </h5>
 </div>
</div>
