<h2 class="title d-flex justify-content-center text-dark">
  All users
</h2>

<div class="container container-div">
  <% @users.each do |user| %>
  <div class="d-flex my-6 justify-content-center bg-light p-3">
    <figure class="image">
      <img class="rounded" src="<%= user.photo %>" alt="user photo"">
    </figure>
    <div class="mx-3 bg-white rounded" style="padding: 0.5rem 4rem;">
      <p class="fs-5 text-secondary"><%= user.name %></p>
      <p class="fs-6 text-success bg-success-light p-1 float-end">Number of posts: <%= user.posts_counter %></p>
      <%= link_to "View profile", user_path(user), class: "btn btn-link btn-light btn-rounded btn-sm" %>
    </div>
  </div>
  <% end %>
</div>
