.container-div {
  width: 100%;
  margin-top: 2rem;
}

.image {
  width: 90px;
  height: 90px;
  overflow: hidden;
  border-radius: 50%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#btn:hover {
  color: #fff;
}

.comments {
  background-color: rgb(230, 250, 255);
}

.sticky-top {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
